POSTGRES_VERSION=16
POSTGRES_DB=api
POSTGRES_USER=app
POSTGRES_PASSWORD=secret
DEFAULT_URI=localhost
CORS_ALLOW_ORIGIN=^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=secret
DATABASE_URL="postgresql://app:secret@localhost:5432/api?serverVersion=16&charset=utf8"
